werkzeug
pyrogram
tgcrypto
flask
flask[async]
sqlalchemy
pymysql
apscheduler
matplotlib
python-dotenv
cryptography
pytz
requests
asyncmy
pandas
openpyxl
pymysql
uvicorn[standard]
asgiref
requests[socks]
python-dotenv